<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Publicitário</span>
                    <h1 class="mt-4">Tácio Andrade</h1>
                    <p class="p-desc mt-3">De fato, inserir qualquer texto de fantasia ou um texto famoso, seja um poema, um discurso, uma passagem literária, o texto de uma música, etc., nosso gerador de texto fornecerá a extração aleatória de termos e etapas para compor o seu exclusivo Lorem Ipsum.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rm_arw_rgt.png" alt="The icon for readmore arrow" width="15" class="ml-2"></a>
                </div>

                <div>
                    <h6> Solicite um orçamento </h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input tpe="email" class="form-control" id="email" placeholder="Digite o seu email aqui" autocomplete="off">
                            <button class="btn"> Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
